.debut {
  background-image: url("../assets/background-smart-travel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
}

.logo {
  width: 150px;
  position: absolute; /* Positionne le logo par rapport à la balise parent */
  top: 10px; /* Ajustez pour positionner le logo verticalement */
  left: 10px; /* Positionne le logo à gauche */
}

.header {
  display: flex;
  justify-content: center; /* Centre horizontalement les éléments dans .header */
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.nav {
  display: flex;
  justify-content: center; /* Centre les éléments de la navigation horizontalement */
  width: 100%;
}

.searchbar {
  position: absolute;
  bottom: 10px; /* Ajustez pour placer la barre de recherche plus ou moins près du bas */
  left: 50%;
  transform: translateX(-50%); /* Centre horizontalement */
}

.searchbar input {
  width: 700px; /* Ajustez la largeur de la barre de recherche */
  height: 40px; /* Ajustez la hauteur */
  font-size: 16px; /* Ajustez la taille de la police */
  border-radius: 5px; /* Pour arrondir les coins si désiré */
  border: 1px solid #ccc; /* Bordure pour la barre de recherche */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur et la hauteur */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.nav-icon {
  font-size: 24px; /* Taille de l'icône */
  margin-bottom: 5px; /* Espace entre l'icône et le texte */
}

.nav-text {
  font-size: 14px; /* Taille du texte */
}

.slogan {
  font-size: 50px;
}

.nav-color{
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px
}
.nav-color:hover {
  color: #c93838; /* Change la couleur au survol */
  /* border-bottom: #c93838 2px solid;  */
}


@media   (max-width: 900px) {

  .slogan{
    /* display: none; */
    font-size: 40px
  }

  
}
@media   (max-width: 425px) {

  .slogan{
    display: none;
    /* font-size: 40px */
  }

  
}